:root {
  --primary-color: #52b788;
  --secondary-color: #d8f3dc;
  --secondary-color-two: #2d6a4f;
  --main-bg-color: #95d5b2;
  --secondary-color-four: #b7e4c7;

  --primary-dark-color: #081c15;
  --primary-light-color: #d8f3dc;
  --primary-text-color: #f7f7f7;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

main {
  margin: 2rem 0;
}

a,
u {
  text-decoration: none !important;
  color: var(--secondary-color-two);
}
a:hover {
  color: var(--secondary-color);
}

/* Footer Component */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer .footer {
}

/* index */

.img-main {
  max-width: 80%;
  height: auto;
}

.vert-center {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.hook {
  margin-left: 2rem;
}

.hook h1 {
  font-weight: 1000;
  font-style: oblique;
  font-size: 4rem;
}

.hook h4 {
  margin-top: 1rem;
  font-weight: 500;
  max-width: 50%;
  color: var(--secondary-color-four);
}

.hook div {
  margin-top: 1rem;
  width: 250px;
  height: 30px;
  background-color: var(--secondary-color-two);
}

/* login/create */

.user-form {
  margin: 0;
  display: block;
  /* position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.user-form label {
  color: var(--primary-text-color);
  font-size: 1.5rem;
}

.melon {
  max-width: 500px;
  /* position: fixed;
  top: 30%;
  right: 20%; */
}

/* user */

.product-title {
  color: var(--secondary-color-two);
}

.row-hdr {
  background-color: var(--primary-color);
}

.row-bg-color {
  background-color: lightcyan;
}
