{% extends "base.html" %}
{% block head %}
<title>Save Your Groceries</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <img src="../static/images/refrigerator.png" class="img-main mx-auto d-block" alt="Fridge">
        </div>
        <div class="col-sm">
            <div class="vert-center">
                <div class="hook">
                    <h1>Never Waste Again</h1>
                    <div></div>
                    <h4><a href="/create">Sign up Now</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}