{% extends "base.html" %} 
{% block head %}
<title>Login</title>
{% endblock %}
{% block body %}
<div class="form-container">
    <!-- <div class="row">
        <div class="col-sm"> -->
            <div class="user-form">
                <h2 class="title">Login</h2>
                <form action="" method="post" novalidate>
                    <!-- CSRF Protection -->
                    {{ form.hidden_tag() }}
                    <fieldset class="user-form-field">
                        {{ form.username.label }}
                        {{ form.username() }}
                        {% if form.username.errors %}
                            <ul class="errors">
                                {% for error in form.username.errors %}
                                <li>{{error}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </fieldset>
                    <fieldset class="user-form-field">
                        {{ form.password.label }}
                        {{ form.password() }}
                        {% if form.password.errors %}
                            <ul class="errors">
                                {% for error in form.password.errors %}
                                   <li>{{error}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </fieldset>
                    <fieldset class="user-form-field">
                        <small>Don't have an account? <a href="/register">Sign up</a></small>
                    </fieldset>
                    <fieldset class="user-form-field">
                        {{ form.submit() }}
                    </fieldset>
                </form>
            </div>
</div>
{% endblock %}
