{% extends "base.html" %}
{% block head %}
<title>{{ current_user.username }}</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block body %}
<div class="container-lg">
    {% if groceries|length == 0 %}
    <h1 class="product-title text-center">Hi {{ current_user.username }}!</h1>
    <h3 class="text-center">Please scan your first receipt to track your groceries.</h3>
    {% else %}
    <h3 class="product-title text-center">You have {{ groceries|length }} items stored.</h3>
    <table id="productTable" class="table table-bordered">
        <thead>
            <tr class="row-hdr">
                <th scope="col">Date Bought</th>
                <th scope="col">Reminder Date</th>
                <th scope="col">Product Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for grocery in groceries %}
            <tr class="row-bg-color" >
                <td>{{ grocery.date_purchased }}</td>
                <td>{{ grocery.date_expiration }}</td>
                <td>{{ grocery.name }}</td>
                <td>
                    <button class="delete-button" 
                            onclick="deleteItem(this.id)" 
                            type="button" name="delete" 
                            id="{{ grocery.name }}">Consume</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<script>
    deleteItem = (item) => {
        console.log(item);
        $.post('/delete',
        {item},
        (data, status) => {
            console.log("status:" +status);
            refreshPage();
        })
    }

    refreshPage = () => {
        location.reload(true); 
    }

    $(document).ready(function () {
            $('#productTable').DataTable();
    });
</script>
{% endblock %}

